<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<%- include('./partials/head')  %>

<body>
	<!-- Header -->
	<%- include('./partials/headerDeslogeado')  %>
	<!-- /Header -->

	<!-- Banner -->
	<div class="banner">
		<img src="">
	</div>
	<!-- /Banner -->

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Novedades</h2>
			</div>
			<!-- Show the "ultimos" products -->

			<% for( let i = 0; i <listaProduct.length; i++ ) { %>
			<div class="col-12 col-sm-6 col-lg-3">
				<section class="product-box">
					<a href="/product/id/<%= listaProduct[i].id %>"><%= listaProduct[i].title %>"> 	</a>
						<a href="/product/productAdd/<%= listaProduct[i].id %>">Modificar</a>
						| <a href="/product/deleteProduct/<%= listaProduct[i].id %>">Eliminar</a>
					<!-- 	<figure class="product-box_image">
							<img class="product-img" src="<%= // producto[i].imagen %> "
								alt="<%= // producto[i].nombreProducto %>">
						</figure>
						<article class="product-box_data">
							<h2><%= // producto[i].nombreProducto %></h2>
							<p><%= // producto[i].descripcion %></p>
							<p>Comentarios: 5</p>
						</article>-->
			
				</section>
			</div>
			<% } %>

		</div>
	</div>
	<!-- /Más comentados -->


	<!-- footer -->
	<%- include('./partials/footer')  %>
	<!-- /footer -->
</body>

</html>