<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->

<%- include('./partials/head')  %>

<body>
	<!-- Header -->
	<%- include('./partials/headerDeslogeado')  %>
	<!-- /Header -->
	<% if(locals.erroresLogin){ %>
		<p class="mensajeError" style="color: red;"> <%= erroresLogin.message %>
		</p>
	<% } %>
	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Ingresar</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<h2 class="col-12">
				<form class="formulario-users" action="/users/login" method="POST">
					<div class="div-users">
						<label for="email">Email</label>
						<input id="email" class="input-users" type="email" name="email" >
					</div>
					<div class="div-users">
						<label for="password">Contraseña</label>
						<input id="password" class="input-users" type="password" name="password" placeholder="Clave">
					</div>
					<div class="div-users">
						<label for="remember">Recordarme</label>
						<input id="remember" class="input-users" type="checkbox" name="remember">
					</div>
					<button class="div-users, botonesVarios" type="text" class="submit">Submit</button>
					<% if(locals.errors){ %>
							<p class="errors">	<%= errors.message %></p>
					<%}%>
				</form>
			<!--	<input type="submit" value="Login" class="div-users, botonesVarios"> -->

			</h2> 
			<div>

				<!-- footer -->
				<%- include('./partials/footer')  %>
				<!-- /footer -->
</body>

</html>