<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<%- include('./partials/head')  %>

<body>
	<!-- /Header -->
	<%	if (locals.user != undefined) {	%>
		<%- include('./partials/headerLogeado')  %>
		<% } %> 
		<% if(locals.user == undefined)	{ %>
			<%- include('./partials/headerDeslogeado')  %>
		<%	}	%>
	
	<!-- product detail -->
	<div class="container products-wrapper">
		<div class="d-flex align-items-center">
			<h2 class="products-title"><%= producto.brand %> </h2>
			<p class="product-detail-description">
				<a href="/product/productAdd">Editar</a>
			</p>
		</div>
		<div class="product-detail">
			<div class="row">
				<article class="col-12 col-lg-8 product-detail-info">
					<div>

						<a href="/product/id/<%= producto.id %> "><img class="product-img" src="<%= producto.image %> "</a>
						<h2><span class="clave">Brand:</span> <%= producto.brand %></h2>
						<h2><span class="clave">Model:</span> <%= producto.model %></h2></a>
						<h2><span class="clave">Variant:</span> <%= producto.variant %></h2>
						<h2><span class="clave">Year:</span> <%= producto.year %></h2>
						<h2><span class="clave">Description:</span> <%= producto.description %></h2>
						<h2><span class="clave">Upload date:</span> <%= producto.upload_date %></h2>
						</div>

				</article> 
				<div class="col-12 col-lg-4">
					<%// for( let i = 0; i <comentarios.length; i++ ) { %>
						<section class="comments">
							<article>
								<img src="<%=  //comentarios[i].imagenPerfil %>" alt="">
								<div class="data">
									<p class="user">
										<strong> <a href="/users/profile"><%=// comentarios[i].nombre %> </a> </strong>
										<%=// comentarios[i].comentario %></p>
								</div>
							</article>
							<%// } %>
					</section>
					<form class="form" action="" method="POST">
						<input class="form-input" type="text" value="" placeholder="Agregar comentario">
						<button type="submit" class="buy-now-button">AGREGAR COMENTARIO</button>
					</form>
					<hr>
				</div>
			</div>
		</div>
	</div>
	<!-- /product detail -->

	<!-- footer -->
	<%- include('./partials/footer')  %>
	<!-- /footer -->

</body>

</html>