<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<%- include('./partials/head')  %>

<body>
	<!-- /Header -->
	<%	if (locals.user != undefined) {	%>
		<%- include('./partials/headerLogeado')  %>
		<% } %> 
		<% if(locals.user == undefined)	{ %>
			<%- include('./partials/headerDeslogeado')  %>
		<%	}	%>
	
	<!-- product detail -->
	<div class="container products-wrapper">
		<div class="d-flex align-items-center">
			<h2 class="products-title"><%= producto.brand %> </h2>
			<p class="product-detail-description">
				<a href="/product/productAdd">Editar</a>
			</p>
		</div>
		<div class="product-detail">
			<div class="row">
				<article class="col-12 col-lg-8 product-detail-info">
					<div>

						<a href="/product/id/<%= producto.id %> "><img class="product-detail-img" src="/images/products/<%= producto.image %> "</a>
						<h2 class="product-detail-info">Brand: <%= producto.brand %></h2>
						<h2 class="product-detail-info">Model: <%= producto.model %></h2></a>
						<h2 class="product-detail-info">Variant: <%= producto.variant %></h2>
						<h2 class="product-detail-info">Year: <%= producto.year %></h2>
						<h2 class="product-detail-info">Description: <%= producto.description %></h2>
						<h2 class="product-detail-info">Upload date: <%= producto.upload_date %></h2>
						</div>

				</article> 
				<div class="col-12 col-lg-4">
					<% if(locals.user == undefined) {%>
						<p class="commentsDeslogueado">Debes estar logueado para ver los comentarios!</p>
						<% } else{%> 
					<% for( let i = 0; i <  comment.length; i++ ) { %>
						<section class="comments">
							<article>
								<img src="/images/users/<%=locals.user.profile_img %>" alt=""> 
								<div class="data">
									<p class="user">
										<strong> <a href="/users/profile"><%= user.name %>: </a> </strong>
										<%= comment[i].comment %></p>
								</div>
							</article>
							<% } %>
							<% } %>
							
					</section>
					<form class="form" action="/product/id/<%= producto.id %>" method="POST">
						<input name="comment" class="form-input" type="text" value="" placeholder="Agregar comentario">
						<button type="submit" class="buy-now-button">AGREGAR COMENTARIO</button>
					</form>
					<hr>
				</div>
			</div>
		</div>
	</div>
	<!-- /product detail -->

	<!-- footer -->
	<%- include('./partials/footer')  %>
	<!-- /footer -->

</body>

</html>