<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->

<%- include('./partials/head')  %>

<body>
	<!-- Header -->
	<%	if (locals.user != undefined) {	%>
	<%- include('./partials/headerLogeado')  %>
	<% } %>
	<% if(locals.user == undefined)	{ %>
	<%- include('./partials/headerDeslogeado')  %>
	<%	}	%>
	<!-- /Header -->

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Resultados de búsqueda</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<% if(listaProduct.length == 0) { %>
			<h2 class="col-12">
				No se encontraron resultados de búsqueda!
			</h2>
			<% }else{ %>
			<% for(let i = 0; i < listaProduct.length; i++ ) {%>
			<h2 class="col-12">
				<a href="/product/product/<%= listaProduct[i].id %> ">
					<div class="col-12 col-sm-6 col-lg-3">
						<section class="product-box">
							<a href="/product/productEdit/<%= listaProduct[i].id %>">Modificar</a>
							<a href="/product/deleteProduct/<%= listaProduct[i].id %>">Eliminar</a>
							<figure class="product-box_image">
								<a href="/product/id/<%= listaProduct[i].id %> "><img class="product-img"
										src="/images/products/<%= listaProduct[i].image %> " </a> </figure> <article
										class="product-box_data">
									<a href="/product/id/<%= listaProduct[i].id %> ">
										<h2><%= listaProduct[i].brand  %> </h2> 
										<p><%=listaProduct[i].description%></p>


								</a>
								<p></p>
								</article>
						</section>
					</div>
				</a>
			</h2>
			<% } %>
			<% } %>

			<!-- footer -->
			<%- include('./partials/footer')  %>
			<!-- /footer -->
</body>

</html>